
<div id="err"></div>
<table class="filter-table">
    <tr>
        <td><span class="text-for-filter">Направление:</span></td>
        <td>
            <input id="filterDirection" class="form-control text-box single-line"/>
        </td>
        <td><span class="text-for-filter">Исполнитель:</span></td>
        <td>
            <input id="filterSinger" class="form-control text-box single-line"/>
        </td>
        <td>
            <button id="buttonSearch" class="btn btn-default">Поиск</button>
        </td>
    </tr>
</table>
<hr />